[worldserver]

#
#    RewardSystemAnnounce
#        Description: Announce the reward system
#        Default:     1  - (Enabled)
# 
RewardSystem.Announce = 0

#
#    RewardSystemEnable
#        Description: Enable the reward system
#        Default:     1  - (Enabled)
#                     0  - (Disabled)
RewardSystemEnable = 1

#
#    RewardTime
#        Description: Time in minutes to reward the player
#        Default:     1  - (Enabled)
#                     
RewardTime = 30

#
#    MaxRoll
#        Description: Max roll the player will do, if the roll matches an item in the reward table it will reward it.
#        Default:     1  - (Enabled)
#                     
MaxRoll = 1